<?xml version="1.0" encoding="utf-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="employee" class="com.sphesihle.Employee">
        <property name="name" value="test spring"/>
    </bean>

    <!--    This is to demo the constructor injection -->
    <bean id="myFortuneService" class="com.sphesihle.HappyFortuneService"/>

    <bean  id="myCoach" class="com.sphesihle.BaseBallCoach">
        <constructor-arg ref="myFortuneService"/>
    </bean>

</beans>